# Introduction to Python

# Why Programming

Sure! Programming serves as a communication tool between humans and machines, allowing us to give specific instructions to computers so they can perform tasks and solve problems on our behalf.



- Programming serves as a communication tool between humans and machines.
- An example of this is a basic calculator app.
- Users input mathematical expressions like "2 + 3" using the app's interface.
- The programming behind the app interprets the input and communicates with the machine (computer or phone's processor).
- The machine performs the addition operation and displays the result, such as "5".
- Through programming, users can communicate with the machine and obtain the desired output.

A programming language is a set of rules and instructions used to write computer programs. It provides a way for humans to communicate with computers and give them specific tasks and behaviors to perform.

In [ ]:
#Example 
#Calculating sum

Why Python for Data Analytics,Machine Learning,Data Science, AI



1. **Ease of Learning and Use**: Python's simple syntax is beginner-friendly.

2. **Vast Ecosystem of Libraries**: Python offers powerful data science libraries like NumPy, Pandas, and Matplotlib.

3. **Community and Support**: Active Python community provides ample resources and support.

4. **Integration and Flexibility**: Python easily integrates with other languages and tools.

5. **Versatility**: Python serves various purposes beyond data science.

6. **Data Science-Focused Platforms**: Python-centric tools like Jupyter and Anaconda enhance data science work.

7. **Machine Learning and AI Libraries**: Python excels in machine learning with libraries like Scikit-learn and TensorFlow.

Overall, Python's simplicity makes it an accessible and powerful programming language suitable for a wide range of applications and skill levels.

# Jupyter notebook differnt modes

In [ ]:
print("hello world")

Jupyter Notebooks support different modes that allow you to interact with and manipulate the content. The two primary modes are:

1. **Command Mode:**
   - In Command Mode, you can perform operations on cells at a higher level, such as creating, deleting, and navigating between cells.
   - You can enter Command Mode by pressing `Esc` key.
   - In Command Mode, the selected cell is surrounded by a blue border.

   Some useful keyboard shortcuts in Command Mode:
   - `A`: Insert a new cell above the current cell.
   - `B`: Insert a new cell below the current cell.
   - `M`: Change the cell type to Markdown.
   - `Y`: Change the cell type to Code.
   - `D + D`: Delete the selected cell.
   - `Up` and `Down` arrows: Navigate between cells.

2. **Edit Mode:**
   - In Edit Mode, you can edit the content of a cell, like writing code in a code cell or editing text in a Markdown cell.
   - You can enter Edit Mode by pressing `Enter` key.
   - In Edit Mode, the selected cell is surrounded by a green border.

   Some useful keyboard shortcuts in Edit Mode:
   - `Ctrl + Enter`: Run the current cell.
   - `Shift + Enter`: Run the current cell and move to the next cell.
   - `Esc`: Switch to Command Mode.
   - `Tab`: Code completion or indentation.
   - `Shift + Tab`: Tooltip with function/method documentation.

These two modes allow you to navigate, create, and edit content efficiently in Jupyter Notebooks. Understanding and using the keyboard shortcuts associated with each mode can significantly enhance your productivity when working with Jupyter Notebooks.

In [ ]:
a = 12253211

In [ ]:
type(a)

# Data Types

In [ ]:
#example 
"""what all data we see in the world 
lets take an exapmle of mobile phone what all data we have 
1)video  (gallery)
2)audio  (some other mp3 folder)
3)images (gallery since similar to video)
4)text   (Some Document) 
5)pdf    (some document)

we have differnt space for differnt data"""



```1 `int`: Represents integer values ```
   - Syntax: `x = 10````
   

2. `float`: Represents floating-point (decimal) values.
   - Syntax: `x = 3.14`

3. `str`: Represents text or string values.
   - Syntax: `x = "Hello"`

4. `bool`: Represents boolean values (`True` or `False`).
   - Syntax: `x = True`

5. `list`: Represents an ordered collection of values, mutable.
   - Syntax: `x = [1, 2, 3]`

6. `tuple`: Represents an ordered collection of values, immutable.
   - Syntax: `x = (1, 2, 3)`

7. `range`: Represents a sequence of numbers within a specified range.
   - Syntax: `x = range(1, 6)`

8. `dict`: Represents a collection of key-value pairs.
   - Syntax: `x = {'name': 'Alice', 'age': 30}`

9. `set`: Represents an unordered collection of unique values.
   - Syntax: `x = {1, 2, 3}`

10. `frozenset`: Represents an immutable version of a set.
    - Syntax: `x = frozenset({1, 2, 3})`

11. `bytes`: Represents an immutable sequence of bytes.
    - Syntax: `x = b'hello'`

12. `bytearray`: Represents a mutable sequence of bytes.
    - Syntax: `x = bytearray(b'hello')`

13. `memoryview`: Provides access to the internal buffer of an object.
    - Syntax: `x = memoryview(b'hello')`

14. `None`: Represents the absence of a value or a null value.
    - Syntax: `x = None`

In [ ]:
a = 25

In [ ]:
type(a)

In [ ]:
b = 52.25

In [ ]:
type(b)

In [ ]:
c = [1,2,3,4]

In [ ]:
type(c)

# Variables

A variable is a named storage location in a program's memory that holds a value or data. It acts as a placeholder or container for storing data that can be manipulated and used throughout a program. In programming, variables are fundamental components that allow you to work with and manipulate data dynamically.

Here are some key characteristics of variables:

1. **Name:** A variable has a name, which is used to reference and access the stored data.

2. **Value:** The value stored in a variable can be of different data types, such as numbers, strings, or more complex objects.

3. **Memory Location:** Variables are associated with specific memory locations in the computer's memory, where their values are stored.

4. **Assignment:** You assign a value to a variable using an assignment statement. For example, `x = 5` assigns the value 5 to the variable named "x."

5. **Mutable:** Depending on the programming language and data type, variables can be mutable (modifiable) or immutable (cannot be changed after creation).

6. **Scope:** Variables have a scope, which defines where they are accessible and usable within the program.

Here's a simple example in Python:

```python
# Variable assignment
x = 10
name = "Alice"
pi = 3.14159

# Using variables in expressions
result = x * pi
greeting = "Hello, " + name

# Displaying the values of variables
print(result)     # Output: 31.4159
print(greeting)   # Output: Hello, Alice
```

In this example, `x`, `name`, and `pi` are variables that store different types of values. They are used in expressions to perform calculations and generate output. Variables are essential for writing dynamic and reusable code in programming.

### Rules for declaring a variable

In Python, there are a few rules to follow when declaring variables:

1. Variable names must start with a letter (a-z, A-Z) or an underscore (_). They cannot begin with a number or any other special character.
2. After the initial character, variable names can contain letters, numbers, and underscores. They are case-sensitive, so "myVariable" and "myvariable" would be considered different variables.
3. Python keywords (reserved words with special meanings in the language, such as "if," "while," "for," etc.) cannot be used as variable names.
4. Variable names should be descriptive and meaningful, providing some indication of the purpose or content of the variable.
5. Avoid using built-in function or module names as variable names to prevent conflicts and confusion.
6. Underscores can be used to separate multiple words in a variable name, such as "my_variable" or "total_count."
7. It is generally recommended to use lowercase letters for variable names, as this is a common convention in Python (e.g., "count" instead of "Count").
8. Be consistent with your naming style within your code or project to improve readability and maintainability.

Here are some examples of valid variable names in Python:
- age
- name
- _count
- total_count
- myVariable

Remember that following these rules and maintaining good naming conventions can make your code more readable and easier to understand.

In [ ]:
a = 10

In [ ]:
_a = 10

In [ ]:
12 = 10

In [ ]:
A12 = 10

In [ ]:
myvaraible = 10

In [ ]:
myvaraible

In [ ]:
Myvaraible = 20

In [ ]:
Myvaraible

In [ ]:
type = 122

In [ ]:
my score = 10

In [ ]:
my_score = 10

In [ ]:
var =222

In [ ]:
var

In [ ]:
var

In [ ]:
type(var)

In [ ]:
_count = 10

In [ ]:
_count

In [ ]:
numpy pandas matplotlib

In [ ]:
john_contact = 9742586457

In [ ]:
a = 10

In [ ]:
a

In [ ]:
a = 10

In [ ]:
a

In [ ]:
A = 20

In [ ]:
A

In [ ]:
abc_if = 20

In [ ]:
# Valid variable names
name123 = "Alice"
_age = 25
my_var = 42
user_name_123 = "John"

In [ ]:
123 = "hello"

In [ ]:
@#$%^&*()

In [ ]:
@ = "raj"

In [ ]:
# Valid variable names
name = "Alice"
_age = 25
my_var = 42
user_name_123 = "John"

# Invalid variable names
# invalid name = "Invalid"  # Spaces are not allowed
# this is a variable = 10   # Spaces are not allowed

# Case-sensitive variable names
age = 30
Age = 25

print(age)  # Output: 30
print(Age)  # Output: 25

# Invalid variable names (using reserved keywords)
# if = 5       # 'if' is a reserved keyword
# class = "A"  # 'class' is a reserved keyword

# Good variable names
student_name = "Sarah"
number_of_courses = 4

# Recommended variable naming convention
my_variable = 100
total_count = 5

# Invalid variable name (starting with a digit)
# 2numbers = 10  # Invalid, cannot start with a digit

In [ ]:
# Camel Case
myVariableName = 42
calculateTotalAmount = lambda x, y: x + y
getUserInfo = lambda user_id: ...

# Pascal Case (Upper Camel Case)
MyClassName = ...
CalculateTotalAmount = lambda x, y: x + y
GetUserInfo = lambda user_id: ...

# Snake Case
my_variable_name = 42
calculate_total_amount = lambda x, y: x + y
get_user_info = lambda user_id: ...

# Kebab Case (Spinal Case)
my-variable-name = 42
calculate-total-amount = lambda x, y: x + y
get-user-info = lambda user_id: ...

# Hungarian Notation (less common in Python)
str_name = "Hello"
int_count = 5
b_is_valid = True

# Screaming Snake Case (for constants)
MAX_VALUE = 100
PI_CONSTANT = 3.14159
CONFIG_FILE_NAME = "config.txt"

In [ ]:
my_number_is =

In [ ]:
1222

In [ ]:
# Static Vs Dynamic Typing

In [ ]:
# Static Typing
int a = 25      #which doesntwork in the python

In [5]:
# Dynamic Typing
a = "hello"

In [6]:
type(a)

str

In [ ]:
a = 12.5

In [ ]:
type(a)

In [ ]:
hello = "hello"

In [ ]:
type(hello)

In [ ]:
# Dynamic Binding
a = 8
print(a)                #no fixed data type for any varaible keep on changing as the data changes 
a = 'raj'
print(a)

In [ ]:
# Static Binding
int a = 5

In [ ]:
#various methods of writing the variables

In [ ]:
a = 5
b = 2
c = 3
print(a,b,c)

In [ ]:
a,b,c = 5,2,3
print(a,b,c)

In [ ]:
a=b=c= 5
print(a,b,c)

In [ ]:
a

# Comments

In [13]:
#hello this is plain text   
"hello"

'hello'

In [ ]:
# this is a comment
# second line
a = 5                  # this is a variable 
b = 72 # like this
# second comment
print(a+b)

In [ ]:
"""  
"""

#  Keywords & Identifiers

# Keywords
Keywords in Python are reserved words with predefined meanings and functionalities within the programming language. They serve as fundamental building blocks and play specific roles in the syntax and structure of Python code. Keywords cannot be used as variable names or identifiers. They have distinct purposes, such as defining control flow (e.g., if, for, while), declaring data types (e.g., int, str, bool), managing scope (e.g., global, nonlocal), and more. Python keywords provide a standardized set of language constructs that facilitate efficient and consistent programming practices.

In [ ]:
False      await      else       import     pass
None       break      except     in         raise
True       class      finally    is         return
and        continue   for        lambda     try
as         def        from       nonlocal   while
assert     del        global     not        with
async      elif       if         or         yield

SyntaxError: invalid syntax (2644998005.py, line 1)

In [ ]:
#just to make the computers understand that you want to do this task

# Identifiers

Identifiers in Python are user-defined names used to identify variables, functions, classes, and other entities within a program. They act as labels or references to specific elements and should follow naming rules and conventions. Identifiers help make code more readable, maintainable, and self-explanatory. They play a crucial role in identifying and manipulating different parts of the code, enhancing program comprehension and facilitating effective communication.

In [ ]:
# Identifiers
# You can't start with a digit
name1 = 'raj'
print(name1)
# You can use special chars 
_ = 'hel'
print(_)
# identiers can not be keyword

In [ ]:
#static software -which donot take the input from users example just showcasing information 
#dynamic software - which takes input from the users example-youtube,irctc,ola

In [ ]:
add(10,20)

In [16]:
print()

22

# User Input

User input refers to the data or information provided by a user during program execution, typically entered via the keyboard or other input devices.

In [ ]:

input()

In [ ]:
input ("please enter your name  ")

In [ ]:
"""this is the first program 
how would you wrtite a program 
1)visualize the problem
2)breakdown 
"""

In [ ]:
#I want to take two number from user 
# subtract first number from second

In [19]:
num1 = input("hello enter your name ")

hello enter your name rahul

In [20]:
num1

'rahul'

In [26]:
var1  = input("please enter your mobile number ")

please enter your mobile number 20.555

In [27]:
var1

'20.555'

In [28]:
type(var1)

str

In [32]:
mobile_number = float(input("enter mobile number "))

enter mobile number 200222

In [33]:
mobile_number

200222.0

In [34]:
type(mobile_number)

float

In [ ]:
type(num1)

In [ ]:
num2  = int(input("enter second number"))

In [ ]:
type(num2)

In [ ]:
type(num1)

In [ ]:
num2 - num1

1

enter first number10
enter second number20

In [37]:
ejaz

'10'

In [38]:
rahul

'20'

In [41]:
ejaz = int(input("enter first number"))
rahul  = int(input("enter second number"))

final_result = ejaz - rahul

enter first number20
enter second number10

In [42]:
final_result

10

In [ ]:
# take input from users and store them in a variable
num1 = int(input('enter first number'))
num2 = int(input('enter second number'))


#subtract two varaible
result = num1 - num2
# print the result
print(result)
type(result)

In [ ]:
#lets break down above example and understand
# num1,num2 stores whatever is given by the user
# we can perform operations directly on the variables also

In [ ]:
# why int before input
num1 = (input('enter first number'))
num2 = (input('enter second number'))


#subtract two varaible
result = num1 + num2
# print the result
print(result)
type(result)

In [ ]:
num3 = input("enter a number ")

In [ ]:
type(num3)

In [ ]:
num1 = (input('enter first number'))
num2 = (input('enter second number'))


#subtract two varaible
result = int(num1) + int(num2)
# print the result
print(result)
type(result)

In [ ]:
type(num1)   #here the type conversion has not changed the original data but it creates a new value

In [ ]:
#why always it is string only even if you give a integer 
# because the string universal data format we can write any data type in string like integer or float but 
# vice versa not possible

In [43]:
5 +2.2

7.2

# Type Conversion

converting one data type to another

In [ ]:
# Implicit       it is a type conversion  done by the python itself
print(8+5.8)

In [ ]:
print(type(8),type(5.8))

In [ ]:
# implicit doesnt work here 
print(8 + '9')

TypeError is an error that occurs when an operation or function is applied to an object of an incompatible type. It indicates a mismatch between expected and actual data types. To resolve TypeError, you need to ensure that the appropriate data types are used or perform type conversions if necessary.

In [ ]:
# Explicit     where the programmer explicitly write a code to convert

In [ ]:
a = 10

In [ ]:
type(a)

In [ ]:
# int to str
a_changed = str(a)

In [ ]:
a_changed

In [ ]:
type(a_changed)

In [ ]:
type(a)

In [44]:
str(20)

'20'

In [ ]:
b = 4+5j

In [49]:
a = 20

In [50]:
type(a)

int

In [51]:
str(a)

'20'

In [52]:
type(a)

int

In [ ]:
type(b)

In [ ]:
int(b)   #only possible when it is logically possible

### What is syntax

Syntax refers to the rules that determine the proper structure and arrangement of statements and expressions in a programming language. It specifies how keywords, symbols, and punctuation should be used to form valid instructions. Syntax errors occur when code violates these rules. Understanding and following syntax is crucial for writing correct and functional code.

In [ ]:
if else

In [53]:
y = 10

SyntaxError: invalid syntax (791376372.py, line 1)

In [ ]:
a = 25

In [ ]:
b = 23.5

In [ ]:
c = Hello my name is john

In [ ]:
d = [1,2,3,"hello",20.5]

# Literals

A literal is a direct representation of a value within the source code of a programming language, such as a number or string.

In [ ]:
#Float Literal
float_11 = 10.6

In [ ]:
#Complex Literal
x1 = 3.22j

In [ ]:
# binary
x2 = 3.1j

In [ ]:
string = 'This is Python'